<footer class="site-footer">
    <div class="inner">
        <center><a href="/about">About</a> - <a href="/blog">Blog</a> - <a href="https://forms.office.com/r/q1yTJNrVds">Contact (form)</a></center>
        <div class="social-links">
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" ><i class="fa fa-linkedin" aria-hidden="true"></i><span class="screen-reader-text">LinkedIn</span></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i><span class="screen-reader-text">GitHub</span></a>
            {% endif %}
        </div><!-- .social-links -->
        <div class="copyright">
            &copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}/">{{site.title}}</a> 
        </div><!-- .copyright -->
    </div><!-- .inner -->
</footer><!-- .site-footer -->
