<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <center>
            <a href="/">Home</a> -
            <a href="/about">About</a> -
            <a href="/blog">Blog</a>
        </center>
    </nav>
    <div class="container">

        {{ content }}

    </div>
    <!-- /.container -->
    <footer>
        <ul>
            <!-- put whatever you want in the footer here -->
        </ul>
    </footer>
</body>

</html>